<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom Search JSON API</title>
  </head>
  <body>
    <h1>Custom Search JSON API</h1>
    <label for="keyword">input keyword:</label>
    <input type="text" id="keyword" name="keyword" /><br /><br />
    <button type="button" onclick="clean()">Clean</button>
    <button type="button" onclick="search()">Search</button><br /><br />
    <textarea id="content" rows="10" cols="100">
    </textarea><br /><br />
    <button type="button" onclick="download()">download csv</button><br /><br />
    <div id="link"></div>
    <script src="./assets/js/moment.js"></script>
    <script>
      clean();
      const key = '<%=process.env.key %>';
      const cx = '<%=process.env.cx %>';
      const cx2 = '<%=process.env.cx2 %>';
      const cx3 = '<%=process.env.cx3 %>';
      const sources = {
        'www.gvm.com.tw': '遠見雜誌',
        'news.tvbs.com.tw': 'TVBS新聞網',
        'www.mirrormedia.mg': '鏡週刊',
        'www.storm.mg': '風傳媒',
        'heho.com.tw': 'Heho健康',
        'money.udn.com': '經濟日報',
        'www.nownews.com': 'NOWnews今日新聞',
        'www.chinatimes.com': '中時新聞網',
        'www.ettoday.net': 'ETtoday新聞雲',
        'udn.com': '聯合新聞網',
        'tyenews.com': '桃園電子報',
        'www.setn.com': '三立新聞網',
        'www.ltn.com.tw': '自由時報電子報',
        'newtalk.tw': '新頭殼',
        'tw.news.yahoo.com': 'Yahoo奇摩新聞',
        'www.cna.com.tw': '中央社',
        'www.gamer.com.tw': '巴哈姆特',
        'www.aspn.media': 'ASPN',
        'm.match.net.tw': 'match生活網',
        'disp.cc': 'BBS',
        'www.bomb01.com': 'bomb01',
        'cnews.com.tw':'匯流新聞網',
        'www.ctwant.com':'ctwant',
        'www.dailymotion.com':'dailymotion',
        'www.dcard.tw':'dcard',
        'www.youtube.com':'youtube',
        'rec.org.tw':'eTV傳媒',
        'zh-tw.facebook.com':'facebook',
        'fongnews.net':'溏風報',
        'www.hinet.net':'hinet',
      }
      function json2csv(res) {
        for (const item of res.items) {
          content.innerHTML +=  moment().subtract(1, 'days').format('yyyy/MM/DD') + ',';
          content.innerHTML += sources[item.displayLink]?sources[item.displayLink]:item.displayLink;
          content.innerHTML += ',';
          content.innerHTML +=
            item.htmlTitle.replace('<b>', '').replace('</b>', '') + ',';
          content.innerHTML += item.link + '\r\n';
        }
      }
      function download() {
        let csv = document.getElementById('content').value;
        let uri = 'data:text/csv;charset=utf-8,\uFEFF' + encodeURI(csv);
        let link = document.createElement('A');
        link.href = uri;
        link.download = 'test' + '.csv';
        link.click();
      }

      function clean() {
        let content = document.getElementById('content');
        content.innerHTML = '時間,來源,標題,連結\r\n';
        document.getElementById('keyword').value = '';
      }

      async function search(startIndex = 1) {
        const query = document.getElementById('keyword').value;
        const fromDate = moment().format('yyyyMMDD');
        const toDate = moment().subtract(1, 'days').format('yyyyMMDD');
        const res = await fetch(
          `https://www.googleapis.com/customsearch/v1/?key=${key}&cx=${cx}&q=${query}&start=${startIndex}&sort=date:r:${toDate}:${toDate}`,
        )
        const data = await res.json()
        json2csv(data);
        if (data.queries.nextPage) {
            await search(data.queries.nextPage[0].startIndex);
        }
        else{
            await search2()
        }
        
      }
      async function search2(startIndex = 1) {
        const query = document.getElementById('keyword').value;
        const fromDate = moment().format('yyyyMMDD');
        const toDate = moment().subtract(1, 'days').format('yyyyMMDD');
        const res = await fetch(
          `https://www.googleapis.com/customsearch/v1/?key=${key}&cx=${cx2}&q=${query}&start=${startIndex}&sort=date:r:${toDate}:${toDate}`,
        )
        const data = await res.json()
        json2csv(data);
        if (data.queries.nextPage) {
            await search2(data.queries.nextPage[0].startIndex);
        }
        else{
            await search3()
        }
        
      }
      async function search3(startIndex = 1) {
        const query = document.getElementById('keyword').value;
        const fromDate = moment().format('yyyyMMDD');
        const toDate = moment().subtract(1, 'days').format('yyyyMMDD');
        const res = await fetch(
          `https://www.googleapis.com/customsearch/v1/?key=${key}&cx=${cx3}&q=${query}&start=${startIndex}&sort=date:r:${toDate}:${toDate}`,
        )
        const data = await res.json()
        json2csv(data);
        if (data.queries.nextPage) {
            await search3(data.queries.nextPage[0].startIndex);
        }
        
      }
    </script>
  </body>
</html>
